{
  "env": {
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    },
    "project": "./tsconfig.json"
  },
  "extends": [
    "prettier",
    "kentcdodds/react",
    "plugin:prettier/recommended",
    "standard-with-typescript"
  ],
  "plugins": ["prettier","@typescript-eslint"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "trailingComma": "none",
        "semi": false
      }
    ],
    "multiline-ternary": "off",
    "@typescript-eslint/restrict-template-expressions": "off",
    "@typescript-eslint/strict-boolean-expressions": "off",
    "@typescript-eslint/no-non-null-assertion": "off"
  }
  
}